body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.u-hidden {
  /* using opacity for the sake of the demo - normally would be display: none; */
  opacity: 0.2;
}

.c-bulk-actions.has-selection td:first-child {
  outline: 2px solid lightblue;
}

[data-cloak-target~='cloak'] {
  /* demo - real code would be something like 'display: none;' */
  background-color: black;
}

[data-cloak-target~='uncloak'] {
  /* demo only - real code would not need this selector */
  background-color: lightblue;
}
